<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite Books</title>
</head>
<body>
    <h1>Welcome, {{request.session.user_first_name}} {{request.session.user_last_name}}</h1>
    <a href='/books'>Home</a>
    <a href='/logout'>Logout</a>
    <h2>{{book.title}}</h2>
    <p>Added by: {{book.uploader.first_name}}</p>
    <p>Added on: {{book.created_at}}</p>
    <p>Last updated on {{book.updated_at}}</p>
    <p>Description: {{book.description}}</p>

    {% if this_user.id == book.uploader.id %}
    <h2>Edit Book</h2>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action='/books/{{book.id}}/update' method='POST'>
    {% csrf_token %}
        <p>Title:
            <input type='text' name='title' value='{{book.title}}'>
        </p>
        <p>Description:
            <textarea name='description' rows='4' cols='50'>{{book.description}}</textarea>
        </p>
        <input type='submit' value='Update'>
        <p><a href='/books/{{book.id}}/delete'>Delete</a></p>
    </form>
    {% endif %}

    <h1>Users who liked this book</h1>
    {% for user in book.users_who_like.all %}
    <p>{{user.first_name}} {{user.last_name}}</p>
    {% endfor %}
    {% if this_user in book.users_who_like.all %}
    <a href='/books/{{book.id}}/unfavorite'>Unfavorite</a>
    {% else %}
    <a href='/books/{{book.id}}/favorite'>Favorite</a>
    {% endif %}
</body>
</html>